.MainModalClass {
  display: block; /* Ensure the modal is visible */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */

  /* Flexbox centering */
  display: flex; /* Enable Flexbox */
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
}

/* Modal Content */
.ModalContent {
  border-radius: 0.5rem;
  background-color: #fefefe;
  padding: 5px;
  border: 1px solid #888;

  /* Allow the modal to shrink to its content */
  /* width: auto;
  height: auto; */

  /* Ensure the modal doesn't get too large */
  width: 90%;
  height: 70%;

  /* Add scrolling if content exceeds modal size */
  overflow: auto;
}
